.root {
  @apply sticky top-0 bg-white z-40 transition-all duration-150 h-16 md:h-20 border-b border-green-200;
}

.link {
  @apply inline-flex items-center leading-6 font-medium transition ease-in-out duration-75 cursor-pointer
    text-slate-900 rounded-md p-1;
}

.link:hover {
  @apply text-green-600;
}

.link:focus {
  @apply outline-none text-green-700 ring-2 ring-green-500 ring-opacity-40;
}

.logo {
  @apply cursor-pointer rounded-full transform duration-100 ease-in-out;
}
